<div class="about_backdrop is-hidden" data-about-modal>
    <div class="about_modal">
        <button class="about-modal_close" type="button" data-about-modal-close>
            &#10006;
        </button>
        <span class="about-modal_accent">MADE WITH LOVE</span>
        <p class="about-modal_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p class="about-modal_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Erat pellentesque adipiscing commodo elit at. </p>
        <p class="about-modal_text">Nunc sed velit dignissim sodales ut. Sit amet luctus venenatis lectus magna fringilla. Eu tincidunt tortor aliquam nulla facilisi. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Tincidunt nunc pulvinar sapien et ligula. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Ultricies leo integer malesuada nunc. Pharetra sit amet aliquam id diam maecenas ultricies mi.</p>
    </div>
</div>