.modal {
    position: fixed;
    background-color: rgba($color: #ffb8ca, $alpha: .6);
    margin: 0 auto;
    &__close {
        display: flex;
         align-items: center;
        border-radius: 50%;
        border: 1px solid;
        
        width: 25px;
        height: 25px;
        color: $footer-icons-color;
        background-color: $main-background-color;
        position: absolute;
        top: 20px;
        right: 20px;

        &:focus,
        &:hover {
            color: $button-hover-color;
            background: $button-second-color;
        }
    }
}
.modal-close__icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.modal {
    overflow-y: auto;
    display: block;
    z-index: 99;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms cubic-bezier($cubic-bezier),
    scale 250ms cubic-bezier($cubic-bezier);
    
    &.is-hidden {
        opacity: 0;
        
        pointer-events: none;
        
        
    }
    
    &.is-hidden .modal {
        transform: scale(0.3);
        
    }

}

.modal__container {
    margin-top: 5%;
    height: 90%;
    overflow: scroll;
    display: block;
    position: absolute;

    @media screen and (min-width: 768px) {
        margin-top: 0%;
    }
    
    left: 50%;
    top: 50%;
    padding: 40px;

    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier($cubic-bezier);

}

.order-button {
    display: block;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    text-align: center;
    color: $button-second-color;
    background: $footer-icons-color;
    border-radius: 22px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: $button-hover-color;
        background: $button-second-color;
    }
}
.size1, .size2, .size3 {
    display: none;
}


#ice-cream:checked ~ .size1,
#ice-coffee:checked ~ .size2,
#milkshakes:checked ~ .size3 {
    margin-bottom: 10px;
 display: block;
}

.modal-info {


    
    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid $hero-background-color;
        box-sizing: border-box;
        border-radius: 4px;

        padding-left: 42px;
        
        transition: border-color 250ms cubic-bezier($cubic-bezier);

        &:focus,
        &:hover {
            outline: none;
            border-color: $accent-color;
        }
    }

}

.modal-title {
    @extend %section-title;

}

.choice-title {
    @extend %pre-title;
    margin-top: 10px;
    margin-bottom: 10px;
}
.choice-stile {
    padding-left: 40px;
}

.checkbox__label + .checkbox__label {
    margin-top: 10px;
}

.checkbox__label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 35px;
    padding-left: 35px;
}
.checkbox__label::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 30%;
    transform: translateY(-50%);

}

.choice-stile:nth-child(1) .checkbox__label::before {
    background-image: url(../images/modal/sq-1.jpg);
    background-size: contain;
}

.choice-stile:nth-child(2) .checkbox__label::before {
    background-image: url(../images/modal/vanilla-caramel-blended-iced-coffee-pin-500x500.jpg);
    background-size: contain;
}

.choice-stile:nth-child(3) .checkbox__label::before {
    background-image: url(../images/modal/Cheesecake-Milkshakes-photo-1954.jpg);
    background-size: contain;
}


.modal  label {
 
    color: $button-second-color;
   
}
